[submodule "Flora/vendor/spdlog"]
	path = Flora/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Flora/vendor/GFLW"]
	path = Flora/vendor/GFLW
	url = https://github.com/JHeflinger/glfw
[submodule "Flora/vendor/GLFW"]
	path = Flora/vendor/GLFW
	url = https://github.com/JHeflinger/glfw
[submodule "Flora/vendor/imgui"]
	path = Flora/vendor/imgui
	url = https://github.com/JHeflinger/imgui.git
	branch = docking
[submodule "Flora/vendor/glm"]
	path = Flora/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Flora/vendor/yaml-cpp"]
	path = Flora/vendor/yaml-cpp
	url = https://github.com/JHeflinger/yaml-cpp.git
[submodule "Flora/vendor/ImGuizmo"]
	path = Flora/vendor/ImGuizmo
	url = https://github.com/JHeflinger/ImGuizmo.git
[submodule "Flora/vendor/box2D"]
	path = Flora/vendor/box2D
	url = git@github.com:JHeflinger/box2D.git
[submodule "Flora/vendor/msdf-atlas-gen"]
	path = Flora/vendor/msdf-atlas-gen
	url = https://github.com/JHeflinger/msdf-atlas-gen.git
