# binaries
**/bin/
bin-int/
**/Intermediates/
**/Debug/
**.dll
**.pdb

# VS files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.cache
**.csproj.AssemblyReference.cache

# personal
*.ini

# Directories
vendor/VulkanSDK/VulkanSDK.exe
Fauna/assets/cache
Flora/vendor/VulkanSDK
scripts/__pycache__