# binaries
**/bin/
bin-int/
**/Intermediates/

# VS files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.cache

# personal
*.ini

# Directories
vendor/VulkanSDK/VulkanSDK.exe
Fauna/assets/cache
Flora/vendor/VulkanSDK
scripts/__pycache__